* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Kiwi Maru', serif;
}

/* MEDIA QUERY */

@media screen and (max-width: 991px) {
  #home .banner {
    height: 50vh;
  }
}

@media (max-width: 1300px){
  #home .banner h3{
    font-size: 2.5em;
  }
}

@media (max-width: 1100px){
  #home .banner img{
    max-width: 250px;
  }
}

@media (max-width: 769px){
  #home .banner img{
    max-width: 250px;
  }
  #home .banner{
    align-items: center;
  }
}

/* BANNER */
#home{
  position: relative;
}

header#sidebar{
  position: fixed;
  z-index: 999;
  background: rgb(243, 243, 243);
  height: 100vh;
  min-width: 320px;
  text-align: left;
  padding-left: 50px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: 0.3s;
  border-right: 5px solid #2ec5b2;
  box-shadow: 0px 0px 32px -7px #0a99d1;
}

header#sidebar.open-sidebar{
transform: translateX(0%);
}

header#sidebar .hamburger{
  width: 30px;
  height: 25px;
  background: linear-gradient(45deg, #0a99d1, #2ec5b2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: -100px;
  top: 35px;
  border-radius: 11px;
  padding: 12px;
}

header#sidebar .hamburger .top,
header#sidebar .hamburger .mid,
header#sidebar .hamburger .bottom{
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: 0.2s;
}

header#sidebar.open-sidebar .hamburger .top{
  transform: rotate(45deg);
  position: relative;
  top: 12px;
  width: 30px;
}


header#sidebar.open-sidebar .hamburger .mid{
  opacity: 0;
}

header#sidebar.open-sidebar .hamburger .bottom{
  transform: rotate(-45deg);
  position: relative;
  top: -11px;
  width: 30px;
}

header#sidebar h1 a{
  color: #333;
  font-size: 1.2em;
  margin: 60px 0 50px 0;
  display: block;
}

header#sidebar ul li{
  margin-bottom: 10px;
}

header#sidebar ul li a{
  color: #333;
  font-size: 1.1em;
  font-weight: 500;
}

header#sidebar p span{
  font-size: 1.5em;
  transform: rotate(320deg);
  color: #333;
  margin-right: 10px;
  margin-top: 25px;
}

@media screen and (max-width: 500px){
  header#sidebar{
    min-width: 70%;
  }
}

@media screen and (max-width: 380px){
  header#sidebar{
    padding-left: 25px;
  }

  header#sidebar .hamburger{
    right: -65px;
  }
}

#home .banner {
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0px;
  position: relative;
  z-index: 5;
}

#home::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 90%;
  border-radius: 50px;
  background: linear-gradient(45deg,#0a99d1, #2ec5b2);
}

#home .banner .img {
  max-width: 350px;
}

#home .banner h6 {
  font-size: 2em;
  color: #ff65ff;

}

#home .banner h3 {
  font-size: 2.7em;
  line-height: 1.3em;
  color: #00bfba;
}

#home .banner p {
  font-size: 1.3em;
  color: #06aebf;
  margin: 30px 0px 30px 0px;
}

@media screen and (max-width: 610px){
  #home .banner{
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 380px){
  #home .banner{
    flex-direction: column;
    text-align: center;
  }
}

#home .banner a {
  background: linear-gradient(45deg,#0a99d1, #2ec5b2);
  border-radius: 24px;
  padding: 0.5em 2em;
  color: white;
}

/* Informations */

#infos .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 20px;
  flex-wrap: wrap;
}

#infos .container .bloc {
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 10px 0px 10px;
  background: linear-gradient(45deg,#0a99d1, #2ec5b2);
  cursor: pointer;
  transition: 0.2s;
}

#infos .container .bloc:hover {
  transform: translateY(-10px);
  box-shadow: 0px 65px 90px -55px #565656;
}

#infos .container .bloc span.fa {
  font-size: 3em;
}

#infos .container .bloc h3 {
  font-size: 1.6em;
  margin: 10px 0px 10px 0px;
}

#infos .container .bloc p {
  font-size: 1.1em;
}

#infos .container .bloc span.fa,
#infos .container .bloc h3,
#infos .container .bloc p {
  color: white;
}

/* SOINS */

#services {
  margin: 4em 0;
}

#services .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 50px 0 100px 0;
}

#services div.title {
  text-align: center;
}

#services div.title h6 {
  font-size: 2em;
  color: #3a3a3a;
}

#services div.title h3 {
  font-size: 2.5em;
  color: #ff65ff;
}

@media screen and (min-width: 550px){
  #services .card{
    width: 600px !important;
  }
}

#services .card{
  max-width: 500px;
  min-height: 205px;
  padding: 20px;
  box-sizing: border-box;
  margin: 50px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px #d2d2d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

#services .card:hover{
  transform: translateY(-15px);
}

#services .card::before{
  content: "";
  position: absolute;
  transition: 0.5s;
  height: 5px;
  background: linear-gradient(45deg,#0a99d1, #2ec5b2);
  bottom: 0;
  right: 100%;
  left: 0;
  border-radius: 50px;
}

#services .card:hover::before{
  right: 0%;
}


#services .card span{
  font-size: 2em;
  color: #2ec5b2;
  transition: 1s ease-in-out;
}

#services .card .content-card{
text-align: center;
}

#services .card:hover span{
  transform: rotate(360deg);
}


#services .card h4{
  margin: 20px 0 7px 0;
  font-size: 1.5em;
  color: #3a3a3a;
  font-weight: 800;
}

#services .card p{
  color: #3a3a3a;
  font-weight: 600;
}

/* A PROPOS */

#about {
  background-color: #eef0f4;
  box-shadow: inset 0px 0px 15px #d9dade;
}

#about .container{
  margin:0 auto ;
  padding: 70px 15px;
  max-width: 1600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}


#about .container .left{
  max-width: 700px;
}

#about .container h3{
  font-size: 2.8em;
  color: #3a3a3a;
  margin-bottom: 25px;
}

#about .container p{
  font-size: 1.3em;
  color: #3a3a3a;
}

#about .container .right{
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#about .container .right .icon{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  cursor: pointer;
  background: #e2e4e8;
  border-radius: 100%;
  box-shadow: inset 3.6px 3.6px 43px #D0C4D0, inset -3.6px -3.6px 43px #e2e4e8,
    inset -9.91px -9.91px 15px #fafcff;
  transition: 0.2s;
}

#about .container .right .icon:hover{
  background: #eef0f4;
  border-radius: 100%;
  box-shadow: inset 3.6px 3.6px 43px #D0C4D0, inset -3.6px -3.6px 43px #e2e4e8,
    inset -9.91px -9.91px 15px #fafcff;
}

#about .container .right .icon span{
  font-size: 2em;
  transition: 0.3s;
  color: #a7a7a7;
}

#about .container .right .icon:hover span{
  color: #1fb3bf;
}

#about .container .right .icon h4{
  margin-top: 5px;
  font-size: 1.2em;
  transition: 0.3s;
  transition-delay: 0.1s;
}

#about .container .right .icon:hover h4{
  color: #00bfba;
}

@media screen and (max-width: 991px) {
  #about .container{
    flex-direction: column;
  }

  #about .container .left{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  #about .container .right .icon{
    margin: 15px;
  }

  #about .container .left{
    text-align: justify;
  }
  #about .container .left h3{
    text-align: center;
  }
}

/* APPOINTMENT */
section#appointment {
  background-color: #f9f9fb;
  padding: 80px 0;
}

section#appointment .container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: white;
  height: 540px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 50px -10px #d6d6d6;
}

section#appointment .container .formulaire{
  width: 50%;
  margin-right: 35px;
}

section#appointment .container .formulaire h3{
  font-size: 3em;
  color: #2a2a2a;
  margin-bottom: 50px;
}

section#appointment .container .formulaire-image{
  width: 40%;
  background-color: #1fb3bf;
  height: 100%;
  display: flex;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

section#appointment .container .formulaire-image img{
  width: 100%;
}

section#appointment .container .formulaire form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section#appointment .container .formulaire input{
  margin: 10px 0;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #e4e4ec;
}

section#appointment .container .formulaire input:hover{
  border-bottom: 2px solid #1fb3bf;
}

section#appointment .container .formulaire input.nom-famille,
section#appointment .container .formulaire input.email{
  width: 42%;
}

section#appointment .container .formulaire input.numero-tel,
section#appointment .container .formulaire input.date{
  width: 42%;
}

section#appointment .container .formulaire input.horaire{
  width: 100%;
}

section#appointment .container .formulaire button.submit-btn{
  width: 192px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: #1fb3bf;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
}

@media screen and (max-width: 768px){
  section#appointment .container .formulaire-image{
    display: none;
  }

  section#appointment .container{
    justify-content: center;
  }

  section#appointment .container .formulaire{
    margin-right: 0px;
    width: 80%;
  }

  section#appointment .container .formulaire h3{
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  section#appointment .container .formulaire{
    width: 95%;
  }

  section#appointment .container .formulaire input.nom-famille,
  section#appointment .container .formulaire input.email,
  section#appointment .container .formulaire input.numero-tel,
  section#appointment .container .formulaire input.date,
  section#appointment .container .formulaire input.horaire{
    width: 100%;
  }

  section#appointment .container{
    padding: 30px 10px;
  }
}
